<% modal ||= false %>
<% remote = modal ? true : false %>
<%= form_for @parking, remote: remote, html: {role: :form, 'data-model' => 'parking'}, authenticity_token: true do |f| %>
  <% if @parking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@parking.errors.count, "error") %> prohibited this parking from being saved:</h2>

      <ul>
      <% @parking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :address, class: 'control-label' %><br>
    <%= f.text_field :address, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :available, class: 'control-label' %><br>
    <%= f.check_box :available, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :has_camera, class: 'control-label' %><br>
    <%= f.check_box :has_camera, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :has_watchman, class: 'control-label' %><br>
    <%= f.check_box :has_watchman, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :city, class: 'control-label' %><br>
    <%= f.text_field :city, class: 'form-control' %>
  </div>

  <div class="form-group">
      <%= f.label :main_picture, class: 'control-label' %><br>
      <%= f.file_field :main_picture, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :price_month, class: 'control-label' %><br>
    <%= f.number_field :price_month, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :zip_code, class: 'control-label' %><br>
    <%= f.text_field :zip_code, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :name, class: 'control-label' %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit 'Submit', class: 'btn btn-default' %>
  </div>
<% end %>
