<p id="notice"><%= notice %></p>

<%= link_to 'New Parking', '#new_parking', 'data-toggle' => 'modal' %><br>

<h1>Parkings</h1>

<table class="table table-striped" id="parkings">
  <thead>
    <tr>
      <th>Address</th>
      <th>Available</th>
      <th>Has camera</th>
      <th>Has watchman</th>
      <th>City</th>
      <th>Main picture</th>
      <th>Price month</th>
      <th>Zip code</th>
      <th>District</th>
      <th>Name</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @parkings.each do |parking| %>
      <tr>
        <td><%= parking.address %></td>
        <td><% if parking.available == true %><div class="available">
          <% else %><div class="false"></div>
          <% end %></td>
        <td><% if parking.has_camera == true %><div class="camera">
          <% else %><div class="false"></div>
          <% end %></td>
        <td><% if parking.has_watchman == true %><div class="watchman">
          <% else %><div class="false"></div>
          <% end %></td>
        <td><%= parking.city %></td>
        <td><%= image_tag parking.main_picture.url(:thumb) %></td>
        <td><%= parking.price_month %></td>
        <td><%= parking.zip_code %></td>
        <td><%= parking.district %></td>
        <td><%= parking.name %></td>
        <td><%= link_to 'Show parking', parking %>
          <%= link_to 'Edit parking', edit_parking_path(parking) %>
          <%= link_to 'Delete parking', parking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="modal fade" id="new_parking" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">New parking</h4>
      </div>
      <div class="modal-body">
        <%= render 'form', modal: true %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>