<h1>Parkings's map</h1>

<div id="map" style="width:100%;height:700px"></div>


<script>
    function initMap() {
    	var myLatLng = {lat: 48.856614, lng: 2.352222};

// Create a map object and specify the DOM element for display.
        var map = new google.maps.Map(document.getElementById('map'), {
          center: myLatLng,
          scrollwheel: false,
          zoom: 10
        });

        var parkings = gon.parkings;
        parkings.forEach(markers)

// Create a marker and set its position.
        function markers(parking){
        	var latLng = {lat: parking.lat, lng: parking.lng};
        	var marker = new google.maps.Marker({
          map: map,
          position: latLng,
          title: parking.name
          });
        }      
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBrQNcdHy_BEaTs3aJRvIGHXnEdLTEjDKs&callback=initMap"
async defer></script>