<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @parking.address %>
</p>

<p>
  <strong>Available:</strong>
  <%= @parking.available %>
</p>

<p>
  <strong>Has camera:</strong>
  <%= @parking.has_camera %>
</p>

<p>
  <strong>Has watchman:</strong>
  <%= @parking.has_watchman %>
</p>

<p>
  <strong>City:</strong>
  <%= @parking.city %>
</p>

<p>
  <strong>Main picture:</strong>
  <%= image_tag @parking.main_picture.url(:thumb) %>
</p>

<p>
  <strong>Price month:</strong>
  <%= @parking.price_month %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @parking.zip_code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @parking.name %>
</p>

<%= link_to 'Edit parking', edit_parking_path(@parking) %> |
<%= link_to 'Back to parkings', parkings_path %>
