body {
	padding-top: 70px;
}

.delete {
	background-image: url(corbeille.png);
	width: 32px;
	height: 32px;
}

.false {
	background-image: url(forbiden.png);
	width: 32px;
	height: 32px;
}

.edit {
	background-image: url(edit.png);
	width: 32px;
	height: 32px;
}

.watchman {
	background-image: url(watchman.png);
	width: 32px;
	height: 32px;
}

.camera {
	background-image: url(camera.png);
	width: 32px;
	height: 32px;
}

.available {
	background-image: url(cadenas.png);
	width: 32px;
	height: 32px;
}