<!DOCTYPE html>
<html>
<head>
	<title>Yespark</title>
	<%= include_gon %>
	<%= stylesheet_link_tag    'application', media: 'all' %>
	<%= javascript_include_tag 'application' %>
	<%= csrf_meta_tags %>
</head>

<body>
	<div class="row">
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand">Yespark Test</a>
				</div>
				<ul class="nav navbar-nav">
					<li><%= link_to 'Index', parkings_path %></li>
					<li><%= link_to 'Map', map_path %></li>
					<li><%= link_to 'Import Json', json_path %></li>
					<li><%= link_to 'create output.json', output_path %></li>
				</ul>
			</div>
		</nav>
		<div class="col-md-6 col-md-offset-3">
			<%= yield %>
		</div>
	</div>
</body>
</html>

